.container {
    display: flex;
    flex-direction: column;
}

.container-viewer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.container-button {
    display: flex;
    justify-content: center;
}

.container-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    gap: 8px;
}

h4 {
    align-self: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 4px;
}

.select-globalization {
    font-family: Arial;
    padding: 2px 8px;
    font-size: 16px;
    font-weight: 400;
    color: #338adb;
    border-radius: 6px;
    outline: none;
}

.label-globalization {
    font-family: Arial;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.button {
    display: inline-block;
    min-width: 150px;
    max-width: 170px;
    margin: 4px;
    padding: 2px 8px;
    font-size: 16px;
    color: white;
    background: #338adb;
    border: 2px solid #338adb;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
}

.button:disabled {
    background: #6dace8;
    cursor: not-allowed;
    text-decoration: none;
    border: 0px;
}

@media (max-width: 400px) {
    .container-button {
        flex-direction: column;
    }
}

@media (max-width: 1500px) {
    .container-viewer {
        grid-template-columns: 1fr;
    }
}
